<div ng-show="vm.isAuthenticated">
    <h2>Administrator</h2>
    <p>Supersecret admin features</p>
    <div class="well well-lg">
        <p>Robot</p>
        <button class="btn btn-danger" ng-click="vm.sendCmd('start')">Start motor</button>
        <button class="btn btn-danger" ng-click="vm.sendCmd('stop')">Stop motor</button>
        <button class="btn btn-danger" ng-click="vm.sendCmd('calibrate')">Calibrate</button>
        <button class="btn btn-danger" ng-click="vm.sendCmd('shutdown-robot')">Shutdown robot</button>

    </div>
    <div class="well well-lg">
        <p>Pi ops</p>
        <button class="btn btn-danger" ng-click="vm.sendCmd('reboot')">Reboot</button>
        <button class="btn btn-danger" ng-click="vm.sendCmd('shutdown')">Shutdown</button>
    </div>
    <div class="well well-lg">
        <p>Highscore stuff</p>
        <button class="btn btn-danger" ng-click="vm.goTo('winner')">Pick winner</button> 
        <button class="btn btn-danger" ng-click="vm.confirm('highscores', 'Dette vil slette alle lokale resultatdata, og erstatte med innhold fra databasen.')">Replace local highscore with DB highscore</button>
        <button class="btn btn-danger" ng-click="vm.confirm('truncate', 'Dette vil medføre at alle resultater lagret i databasen vil slettes.')">Truncate highscorelist db</button>
        <button class="btn btn-danger" ng-click="vm.showHighscore()">Admin highscore</button>
    </div>
    <table style="margin-top:20px;" class="table table-bordered" ng-if="vm.showScores">
        <tr ng-repeat="entry in vm.highscore track by $index">
            <td>
                {{$index+1}}
            </td>
            <td>
                <p>{{entry.name}}</p>
                {{vm.timeService.getTimeForMilliseconds(entry.time)}}
            </td>
            <td>
                <a href="javascript:void(0)" class="btn btn-sm btn-danger" ng-click="vm.deleteEntry($index)">Delete from highscorelist (lokal)</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-danger" ng-click="vm.resendEntry($index)">Resend websocket command</a>
            </td>
        </tr>
    </table>
</div>
<div ng-show="!vm.isAuthenticated">
    <form ng-submit="vm.auth()">
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="vm.pwd" />
        </div>
        <button type="submit" class="btn btn-danger">Go to adminpage</button>
        <span style="color:red" ng-if="vm.pwdError">You shall not pass! Pwd not correct</span>
    </form>
</div>