<div id="home-css-inject">
    <h2>Registrer</h2>
    <form ng-submit="vm.submit()">
        <div class="form-group">
            <label>Ditt resultat</label>
            <input type="text" class="form-control" ng-model="vm.entry.time" disabled value="{{vm.result}}" />
        </div>
        <div class="form-group">
            <label for="name">Ditt navn</label>
            <input type="text" class="form-control" ng-model="vm.entry.name" id="name" placeholder="Navn">
        </div>
        <div class="form-group">
            <label for="email">Din epostadresse</label>
            <input type="email" class="form-control" ng-model="vm.entry.email" id="email" placeholder="Epostadresse">
        </div>
        <button type="submit" class="btn btn-danger">Registrer</button>
        <a ui-sref="highscore" class="btn btn-link">Gå tilbake</a>
    </form>
</div>