<div id="scoreselect-css-inject">
    <h2>Please confirm your score before entering your contact details</h2>
	<!--<ul>
        <li ng-repeat="result in vm.results track by $index"><a ui-sref="register({id:$index})">{{result}}</a></li>
    </ul>-->
    <div class="list-group">
        <li class="list-group-item" ng-repeat="result in vm.results track by $index">
            <a ui-sref="register({id:$index})">{{vm.displayTime(result)}}</a>
            <a ng-click="vm.removeItem($index)" class="btn btn-sm btn-danger pull-right"><span class="glyphicon glyphicon-remove"></span></a>
        </li>
    </div>

    <button ng-click="vm.registerCustom()" class="btn btn-danger" style="margin-top:40px;">My result isn't listed</button>

</div>