<div id="scoreselect-css-inject">
    <h2>Vennligst bekreft ditt resultat nedenfor for å komme til registrering</h2>
	<!--<ul>
        <li ng-repeat="result in vm.results track by $index"><a ui-sref="register({id:$index})">{{result}}</a></li>
    </ul>-->
    <div class="list-group">
        <li class="list-group-item" ng-repeat="result in vm.results track by $index">
            <a ui-sref="register({id:$index})">{{vm.displayTime(result)}}</a>
            <a ng-click="vm.removeItem($index)" class="btn btn-sm btn-danger pull-right"><span class="glyphicon glyphicon-remove"></span></a>
        </li>
    </div>

</div>